body{
	background-color:#4747FF;
}
#topBarMenu {list-style: none;float:right;}
#topBarMenu li{
	float: left;
	margin: -9px 1em;
	color: #297CCF;
}
#search{
	border: 2px solid #456879;
	border-radius: 10px;
	height 22px;
	width: 100px;
}
#informationContainer {
	background-color:#4747FF;
	width: 950px;
	height: 150px;
}
#imgPartOne{
	width:1300px;
	overflow: hidden;
}
#imageContainer1 {
	background-color:white;
	background-image: url(img1.png);
	background-repeat: no-repeat;
	background-size: 400px 650px;
	height: 650px;
	width: 650px;	
	float:left;
}
#imageContainer2 {
	background-color:white;
	background-image: url(img2.png);
	background-repeat: no-repeat;
	background-size: 400px 650px;
	height: 650px;
	width: 650px;
	float:left;	
}
#textPartOne{
	width:1600px;
	overflow: hidden;
}
#textContainer1{ width: 650px; float:left; }
#textContainer2{ width: 650px; float:left;}
#imgPartTwo{
	width:1400px;
	overflow: hidden;
}
#imageContainer3 {
	background-color:white;
	background-image: url(img3.png);
	background-repeat: no-repeat;
	background-size: 400px 650px;
	height: 650px;
	width: 650px;
	float:left;	
}
#imageContainer4 {
	background-color:white;
	background-image: url(img4.png);
	background-repeat: no-repeat;
	background-size: 400px 650px;
	height: 650px;
	width: 650px;
	float:left;	
}
#imageContainer5 {
	background-color:#303043;
	background-image: url(img5.png);
	background-repeat: no-repeat;
	background-size: 200px 1300px;
	height: 1300px;
	width: 200px;	
	float:right;
}
#calendarContainer{
	background-color:#4747FF;
	width: 180px;
	height: 30px;
	float: right;
	margin: 30px 30px;
}
#calendarContainer #barEvent {
	width: 180px;
	height: 240px;
}
#socialWeb {
	background-image: url(facebook.png);
	background-repeat: no-repeat;
	background-size: 200px 180px;
	height: 180px;
	width: 200px;
	float: right;
	margin: 0px 30px;
}
#calendarContainer #barEvent pre{
	font-size: 9px;
	background-color:6699FF;
}
#bottomContainer {
/*    position: absolute;
    bottom: 0; */
}
